doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css")
        style.
            body {
                margin: 0;
                padding: 0;
            }
            aside {
                height: 100vh;
                padding-left: 15px;
                position: fixed;
                width: 270px;
            }
            aside h1 {
                font-weight: normal;
            }
            aside ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            aside li {
                padding-top: 10px;
            }
            aside code {
                background-color: #1b1f230d;
                border-radius: 3px;
                margin-right: 5px;
                padding: 2px 3px;
            }
            aside li li {
                padding-left: 20px;
            }
            aside a {
                border-bottom: 1px solid transparent;
                color: #666;
                font-size: 14px;
                padding-bottom: 5px;
                text-decoration: none;
            }
            aside a:active,
            aside a:focus,
            aside a:hover {
                border-color: #ccc;
                color: #222;
            }
            .markdown-body {
                margin-left: 280px;
                padding-bottom: 100px;
            }
            .markdown-body h1 {
                padding-top: 20px;
            }
            .markdown-body h2,
            .markdown-body h3 {
                margin-top: 0;
                padding-top: 24px;
            }
    body
        aside
            h1 Simple Directives
            ul
                li: a(href="#a-simple-directives-library") Getting Started
                li
                    a(href="#data-bindings") Data Bindings
                    ul
                        li: a(href="#code-html-code-controls-contents")
                            code html
                            span controls contents
                        li: a(href="#code-class-code-toggles-classes")
                            code class
                            span toggles classes
                        li: a(href="#code-attr-code-controls-attributes")
                            code attr
                            span controls attributes
                        li: a(href="#code-rdo-code-controls-radio-groups")
                            code rdo
                            span controls radio groups
                li
                    a(href="#looping-templates") Looping Templates
                    ul
                        li: a(href="#code-for-code-loops-contents-over-a-collection")
                            code for
                            span loops contents
                li
                    a(href="#conditionals") Conditionals
                    ul
                        li: a(href="#code-if-code-toggles-the-element")
                            code if
                            span toggles the element
                li
                    a(href="#user-interaction") User Interaction
                    ul
                        li: a(href="#code-on-code-adds-event-listeners")
                            code on
                            span adds event listeners
                        li: a(href="#two-way-binding-shortcut") Two-Way Binding
                li: a(href="#function-arguments") Function Arguments
        main.markdown-body
            include:markdown-it(html=true plugins=['markdown-it-named-headings']) ../README.md
